<div class="container">
  <div class="row background-box" style="padding-top: 0px">
    <div class="sub-navbar">
      <div class="col-xs-12 col-md-12 ">
        <h3><%= @flat.property_type %></h3>
        <ul class="list-inline text-center show-flat-list">
          <li style="border-right:1px solid $light-grey;">
            <%= image_tag "bed.png", class:"show-bed-icon-size" %>
            <strong><p><%= @flat.bedroom_number %> Chambre(s)</p></strong>
          </li>
          <li style="border-right:1px solid $light-grey;">
            <%= image_tag "ruler.png", class:"show-ruler-icon-size" %>
            <strong><p><%= @flat.square_meters %> Mètres Carrés</p></strong>
          </li>
          <li>
            <%= image_tag "door.png", class:"show-door-icon-size" %>
            <strong><p><%= @flat.room_number %> Pièce(s)</p></strong>
          </li>
        </ul>
      </div>
    </div>

    <!-- Caroussel -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" id='gradient' role="listbox">
        <div class="item active">
          <%= image_tag("home_pic.jpg", :alt => "home-pic") %>
        </div>
        <div class="item">
          <%= image_tag("home-chair.jpg", :alt => "home-chair") %>
        </div>
        <div class="item">
          <%= image_tag("home-salon.jpg", :alt => "home-salon") %>
        </div>
      </div>
       <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="border-box" style="padding: 0px">
      <div class="subtitle-border">
        <h4>Description</h4> <h4><%= @flat.price %> €</h4>
      </div>
      <div class="characteristics">
        <div class="row">
          <div class="col-xs-6 text-position">
            <li><%= @flat.bathroom %></li>
            <li><%= @flat.wc %></li>
            <li><%= @flat.terrace %></li>
          </div>
          <div class="col-xs-6 text-position">
            <li><%= @flat.heating %></li>
            <li><%= @flat.floor %></li>
            <li><%= @flat.cellar %></li>
          </div>
        </div><br>
        <p><%= @flat.around_description %></p>
      </div>
    </div>


    <div class="flat-opinion">
      <div class="border-box" style="padding: 0px">
        <div class="subtitle-border">
          <h4>Notre Avis</h4>
        </div>
        <div class="text-opinion text-justify">
          <p><%= @flat.opinion %></p>
        </div>
      </div>
    </div>

    <div class="border-box" style="padding: 0px">
        <div class="subtitle-border">
          <h4>Environnement</h4>
        </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="text-info">
              <h4>Transports</h4>
              <p><%= @flat.metro %></p>
              <p><%= @flat.bus %></p><br>
              <h4>Ecoles</h4>
              <p><%= @flat.school %></p><br>
              <h4>Commerces</h4>
              <p><%= @flat.shop %></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="map-position">
              <div id="map" style="width: 100%; height: 400px;"></div>

              <% content_for(:after_js) do %>
                <script>
                  $(document).ready(function() {
                    var handler = Gmaps.build('Google');
                    handler.buildMap({ internal: { id: 'map' } }, function() {
                      markers = handler.addMarkers(<%= raw @hash.to_json %>);
                      handler.bounds.extendWith(markers);
                      handler.fitMapToBounds();
                      if (markers.length == 0) {
                        handler.getMap().setZoom(3);
                      } else if (markers.length == 1) {
                        handler.getMap().setZoom(14);
                      }
                    });
                  });
                </script>
              <% end %>
            </div>
          </div>
        </div>
    </div><br><br><br>

    <div class="text-center">
      <div class="col-xs-12 col-sm-6 call-to-action">
      <%= link_to "JE VISITE", contacts_path, class:"pages-cta" %>
      </div>
      <div class="col-xs-12 col-sm-6 call-to-action">
      <%= link_to "RETOUR", flats_path, class:"pages-cta-light" %>
      </div>
    </div>
  </div>
</div>
