<div class="container">
  <div class="row background-box" style="padding-top: 0px">
    <div class="sub-navbar">
      <div class="col-xs-12 text-center col-md-6 ">
        <h3><%= @flat.property_type %></h3>
      </div>
    </div>
    <div class="row padded">

      <div class="col-xs-12 col-sm-6 col-md-6">
        <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
          <div class='carousel-outer'>
            <!-- Wrapper for slides -->
            <div class='carousel-inner'>
              <div class='item active'>
                  <img src='http://placehold.it/400x200&text=slide1' alt='' />
              </div>
              <div class='item'>
                  <img src='http://placehold.it/400x200&text=slide2' alt='' />
              </div>
              <div class='item'>
                  <img src='http://placehold.it/400x200&text=slide3' alt='' />
              </div>

              <div class='item'>
                  <img src='http://placehold.it/400x200&text=slide4' alt='' />
              </div>
              <div class='item'>
                  <img src='http://placehold.it/400x200&text=slide5' alt='' />
              </div>
              <div class='item'>
                  <img src='http://placehold.it/400x200&text=slide6' alt='' />
              </div>

              <div class='item'>
                  <img src='http://placehold.it/400x200&text=slide7' alt='' />
              </div>
              <div class='item'>
                  <img src='http://placehold.it/400x200&text=slide8' alt='' />
              </div>
              <div class='item'>
                  <img src='http://placehold.it/400x200&text=slide9' alt='' />
              </div>
            </div>
          </div>
          <!-- Controls -->
          <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
              <span class='glyphicon glyphicon-chevron-left'></span>
          </a>
          <a class='right carousel-control'  href='#carousel-custom' data-slide='next'>
              <span class='glyphicon glyphicon-chevron-right'></span>
          </a>
          <!-- Indicators -->
          <ol class='carousel-indicators'>
              <li data-target='#carousel-custom' data-slide-to='0' class='active'><img src='http://placehold.it/100x50&text=slide1' alt='' /></li>
              <li data-target='#carousel-custom' data-slide-to='1'><img src='http://placehold.it/100x50&text=slide2' alt='' /></li>
              <li data-target='#carousel-custom' data-slide-to='2'><img src='http://placehold.it/100x50&text=slide3' alt='' /></li>
              <li data-target='#carousel-custom' data-slide-to='3'><img src='http://placehold.it/100x50&text=slide4' alt='' /></li>
              <li data-target='#carousel-custom' data-slide-to='4'><img src='http://placehold.it/100x50&text=slide5' alt='' /></li>
              <li data-target='#carousel-custom' data-slide-to='5'><img src='http://placehold.it/100x50&text=slide6' alt='' /></li>
              <li data-target='#carousel-custom' data-slide-to='6'><img src='http://placehold.it/100x50&text=slide7' alt='' /></li>
              <li data-target='#carousel-custom' data-slide-to='7'><img src='http://placehold.it/100x50&text=slide8' alt='' /></li>
              <li data-target='#carousel-custom' data-slide-to='8'><img src='http://placehold.it/100x50&text=slide9' alt='' /></li>
          </ol>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="border-box" style="padding: 0px">
          <div class="subtitle-border">
            <h4>Description</h4> <h4><%= @flat.price %> €</h4>
          </div>
          <div class="characteristics">
            <p>C'est un bien de <%= @flat.square_meters %> mètres carrés avec <%= @flat.pieces_number %> pièces et <%= @flat.room_number %> chambres.  </p><br>
            <div class="row">
              <div class="col-xs-6 text-position">
                <li><%= @flat.bathroom %></li>
                <li><%= @flat.wc %></li>
                <li><%= @flat.terrace %></li>
              </div>
              <div class="col-xs-6 text-position">
                <li><%= @flat.heating %></li>
                <li><%= @flat.floor %></li>
                <li><%= @flat.cellar %></li>
              </div>
            </div><br>
            <p><%= @flat.around_description %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="flat-opinion">
      <div class="border-box" style="padding: 0px">
        <div class="subtitle-border">
          <h4>Notre Avis</h4>
        </div>
        <div class="text-opinion text-justify">
          <p><%= @flat.opinion %></p>
        </div>
      </div>
    </div>

    <div class="border-box" style="padding: 0px">
        <div class="subtitle-border">
          <h4>Environnement</h4>
        </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="text-info">
              <h4>Transports</h4>
              <p><%= @flat.metro %></p>
              <p><%= @flat.bus %></p><br>
              <h4>Ecoles</h4>
              <p><%= @flat.school %></p><br>
              <h4>Commerces</h4>
              <p><%= @flat.shop %></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="map-position">
              <div id="map" style="width: 100%; height: 400px;"></div>

              <% content_for(:after_js) do %>
                <script>
                  $(document).ready(function() {
                    var handler = Gmaps.build('Google');
                    handler.buildMap({ internal: { id: 'map' } }, function() {
                      markers = handler.addMarkers(<%= raw @hash.to_json %>);
                      handler.bounds.extendWith(markers);
                      handler.fitMapToBounds();
                      if (markers.length == 0) {
                        handler.getMap().setZoom(3);
                      } else if (markers.length == 1) {
                        handler.getMap().setZoom(14);
                      }
                    });
                  });
                </script>
              <% end %>
            </div>
          </div>
        </div>
    </div><br><br><br>

    <div class="text-center">
      <div class="col-xs-12 col-sm-6 call-to-action">
      <%= link_to "JE VISITE", contacts_path, class:"pages-cta" %>
      </div>
      <div class="col-xs-12 col-sm-6 call-to-action">
      <%= link_to "RETOUR", flats_path, class:"pages-cta-light" %>
      </div>
    </div>
  </div>
</div>
