<% @flats.each do |flat| %>
  <%= link_to flat_path(flat), class:'card-link-default' do %>
    <div class="row flat-card">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-pic">
        <div class="flat-pic" style="background-image: url(<%= image_path 'about_pic.jpg' %>);"></div>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="dp-content">
          <address class="type-title">
            <strong><h3><%= flat.property_type %></h3></strong>
          </address>
          <p class="flat-price"><%= flat.price %> €</p>
        </div>
        <p class="flat-description"><%= flat.description %> </p>
        <ul class="list-inline text-center flat-list">
          <li style="border-right:1px solid $light-grey;">
            <%= image_tag "bed.png", class:"bed-icon-size" %>
            <strong><p><%= flat.bedroom_number %> Chambre(s)</p></strong>
          </li>
          <li style="border-right:1px solid $light-grey;">
            <%= image_tag "ruler.png", class:"ruler-icon-size" %>
            <strong><p><%= flat.square_meters %> Mètres Carrés</p></strong>
          </li>
          <li>
            <%= image_tag "door.png", class:"door-icon-size" %>
            <strong><p><%= flat.room_number %> Pièce(s)</p></strong>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>


