<div class="container">
<div class="row col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 background-box">
  <div class="row ">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <div align="center">
        <h3>Envoyé nous un message</h3>
        <p>Nous vous contacterons au plus vite.</p>

        <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
          <%= f.input :name, placeholder: "José Beauvais...", label: false, :required => true %>
          <%= f.input :email, placeholder: "Votre email...", label: false, :required => true %>
          <%= f.input :message, :as => :text, placeholder: "Je cherche un appartement lumineux dans le 3ième arrondissement...", label: false,:required => true %>
          <div class= "hidden">
            <%= f.input :nickname, :hint => 'Leave this field blank!' %>
          </div>
          <div>
            </br>
            <%= f.button :submit, 'ENVOYER', :class=> "pages-cta-light-form" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
