<div class="container">
  <div class=" col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 contact-background-box text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div align="center">
          <h3 style="font-weight: bold; margin-top: -10px">VOTRE MESSAGE</h3>
          <p style="margin-bottom: 20px;">Nous vous contacterons au plus vite.</p><br>
          <%= form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
            <%= f.text_field :name, placeholder: "Nom Prénom", :required => true %>
            <%= f.email_field :email,placeholder: "Email", label: false, :required => true %>
            <p style="font-weight: bold; text-align: left; margin-top: -7px" >Objet:</p>
            <%= select_tag(:object, options_for_select(
              [
                ["Demande d'estimation", 1],
                ["Demande de visite", 2, ],
                ["Demande de bien spécifique", 3, ],
                ["Autre", 4, ]

              ],
            ), { :class => 'adjust-input', :include_blank => "Choisir un objet" }) %>

            <p style="font-weight: bold; text-align: left; margin-top: 15px">Message:</p>
            <%= f.text_area :message, :as => :text, placeholder: "Recherche un appartement dans le 3ème avec vue sur parc...", label: false, :required => true %>
            <div class= "hidden">
              <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
            </div>
              </br>
              <%= f.submit 'ENVOYER', class: "pages-cta-light-form" %>
            </div><br>
          <% end %>
      </div>
    </div>
  </div>
</div>

