<div class="container">
  <div class="row col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 contact-background-box text-center">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <div align="center">
          <h3 style="font-weight: bold; margin-top: -10px">VOTRE MESSAGE</h3>
          <p style="margin-bottom: 40px;">Nous vous contacterons au plus vite.</p><br>
          <%= form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
            <%= f.text_field :name, placeholder: "José Beauvais...", :required => true %>
            <%= f.email_field :email,placeholder: "josébeauvais@gmail.com...", label: false, :required => true %>
            <p style="font-weight: bold; text-align: left; margin-top: -7px" >Objet:</p>
            <%= select_tag(:object, options_for_select(
              [
                ["J'aimerai faire une viste", 1],
                ["J'aimerai vous proposer un bien", 2, ],
                ["J'aimerai être le premier au courant", 3, ]

              ], 1
            ), { :class => 'adjust-input' }) %>

            <%#= f.select ['Demande de visite', 'Je veux être le premier au courant']%>
            <p style="font-weight: bold; text-align: left; margin-top: 15px">Message:</p>
            <%= f.text_area :message, :as => :text, placeholder: "Recherche un appartement dans le 3ième avec vue sur parc...", label: false, :required => true %>
            <div class= "hidden">
              <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
            </div>
              </br>
              <%= f.submit 'ENVOYER', class: "pages-cta-light-form" %>
            </div><br>
          <% end %>
      </div>
    </div>
  </div>
</div>

